@model MVCCore.Models.GameModel

<div class="game-title-container w-100" style="z-index:10">
    <div class="col-10 offset-3 py-4">
        <div class="d-flex flex-row align-items-center">
            <span class="display-6 text-white  game-title">@Model.Name | </span>
            <div class="text-white d-flex flex-row align-items-center">
                @for (int i = 1; i <= Model.Rating; i++)
                {
                    <span class="mx-2"><i class="bi bi-star-fill"></i></span>
                }
            </div>
        </div>
    </div>
</div>
<div class="content-tab" style="z-index:-5">
    <div class="text-white d-flex flex-row">
        <span class="fs-5 border-end pe-2">@Model.Description</span>

    </div>
</div>